* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 4.5em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.greetings {
  font-weight: 800;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.countdown div span:nth-child(1) {
  font-size: 3em;
  font-weight: 800;
}

.snowflake {
  color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
